page-login {

      .scroll-content {
            margin-top: 0 !important;
      }

      ion-content {
            background-color: #488aff !important;
      }

      ion-grid {
            height: 100%;
            justify-content: center;
      }

      .button-ios {
            padding: 2em !important;
      }

      a {
            font-size: 2.1vh;
            color: white !important;
            text-decoration: none !important;
      }

      p {
            color: white !important;
            font-size: 2.1vh;
      }

}
