page-post-single {

    .card {
        border-top: 1px solid #e9e7e7;
        border-bottom: 1px solid #e9e7e7;
        width: 100% !important;
        margin: 0 0 10px 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    // Resolve width for general tablets
    @media only screen and (device-width: 768px) {
        .scroll-content {
        width: 89% !important;
        margin-left: auto;
        margin-right: auto;;
        }
    }

    // Resolve width for Ipad Pro
    @media only screen 
    and (min-device-width : 1024px) 
    and (max-device-width : 1366px) { 

        .scroll-content {
        width: 75% !important;
        margin-left: auto;
        margin-right: auto;;
        }
    }

    code {
        overflow-x:scroll !important;
    }

    pre {
        background-color: #e8e8e8;
        padding: 13px;
        overflow-x: scroll !important;
    }

    .card:first-child {
        margin: 0 !important;
    }

    ion-card-header {
        display: inline !important;
    }

    .title {
        margin: 2px 0 -14px 0 !important;
        font-size: 2.0rem !important;
        font-weight: 500 !important;
        color: #222;
    }

    #content {
        p {   
            padding: 5px 16px 5px 16px;
        }
        h1, h2, h3, h4, h5, h6, em {
            padding: 5px 16px 5px 16px;
        }
        
    }

    button[ion-fab] {
        overflow: visible;
        position: relative;
        contain: layout;

        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;

            color: white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }

    .message-wrapper {
        position: relative;
    }
  
    .message-wrapper:last-child {
        margin-bottom: 10px;
    }

    ion-card img {
        display: -webkit-inline-box !important;
        width: auto !important;
    } 
}
