page-post-single {

    // Resolve width for general tablets
    @media only screen and (device-width: 768px) {
        .scroll-content {
        width: 89% !important;
        margin-left: auto;
        margin-right: auto;;
        }
    }

    // Resolve width for Ipad Pro
    @media only screen 
    and (min-device-width : 1024px) 
    and (max-device-width : 1366px) { 

        .scroll-content {
        width: 75% !important;
        margin-left: auto;
        margin-right: auto;;
        }
    }

}
