page-tabs {

      .fab {
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            width: 50px !important;
            height: 50px !important;
      }

      ion-fab[bottom] {
            bottom: 3px;
      }

      ion-fab[center] {
            margin-left: -23px;
      }

      .tabs-md-dark .tab-button-icon {
            color: rgba(255, 255, 255, 0.4) !important;
      }

      .tab-button-icon {
            font-size: 2.5rem !important;
      }

      .tabs-md-dark .tab-button[aria-selected=true] .tab-button-icon {
            color: #fff !important;
      }

      button {
            ion-badge {
                  position: absolute;
                  top: -0.2rem;
                  right: -0.10rem;
                  opacity: 1;
      
                  & ~ ion-icon {
                        margin-right: 1.2rem;
                  }
            }
      }

      ion-select {
            max-width: 80% !important;
      }

      .custom-item {
            background-color: transparent;
            color: white !important;
            font-size: 20px;
            padding: 0 !important;
      }

      .select-md .select-icon .select-icon-inner, 
      .select-ios .select-icon .select-icon-inner {
            color: white !important;
      }

      .select-disabled, .item-select-disabled ion-label {
            opacity: 1 !important;
      }

      .select-text {
            text-transform: capitalize !important;
            font-size: 17px !important;
      }

      .title-centered {
            position: absolute !important;
            left: 50% !important;
            top: 0 !important;
            transform: translateX(-50%) !important;
            height: 100% !important;
            width: 70% !important;
            text-align: center !important;
      }

}
