section-scss {

  ion-content {
    -webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.4s; /* Firefox < 16 */
        -ms-animation: fadein 0.4s; /* Internet Explorer */
         -o-animation: fadein 0.4s; /* Opera < 12.1 */
            animation: fadein 0.4s;
  }

  .searchbar-input {
    background: rgba(255, 253, 253, 0.99) !important;
  }

  .full-width { 
    width: 100% !important;
    
  }

  .vertical-align {
    margin: 0 auto;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h-100 {
    height: 100%;
  }

  .share-post {
    margin-top: 11px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #e9e7e7 !important;
  }

  .ios {
    .share-post {
      margin-top: 10px;
      margin-left: 12px;
      border-radius: 5px;
      border: 1px solid #e9e7e7 !important;
    }
  }

  .searchbar-input-container {
    border: 1px solid #e9e7e7 !important;
    border-radius: 6px;
  }

  .searchbar-ios {
    border-top: none !important;
    border-bottom: none !important;
    background: none !important;
    padding: 0 !important;
  }

  .searchbar-ios .searchbar-search-icon {
    display: none !important;
  }

  .searchbar-ios.searchbar-left-aligned .searchbar-input {
    padding-left: 11px !important;
  }

  .item-md ion-avatar ion-img, .item-md ion-avatar img {
    object-fit: cover;
  }
  
  // Resolve width for general tablets
  @media only screen and (device-width: 768px) {

    .share-post {
      width: 96% !important;
      margin-left: 12px !important;
    }
    .scroll-content {
      width: 75% !important;
      margin-left: auto;
      margin-right: auto;;
    }
    
    .card {
      border-radius: 5px;
      border: 1px solid #e9e7e7;
    }
  }

  .searchbar-input {
    cursor: not-allowed; /* Cursor change to disabled state*/
    pointer-events: none;
  }
  
  // Resolve width for Ipad Pro
  @media only screen 
  and (min-device-width : 1024px) 
  and (max-device-width : 1366px) { 
  
    .scroll-content {
      width: 75% !important;
      margin-left: auto;
      margin-right: auto;;
    }

    .card {
      border-radius: 5px;
      border: 1px solid #e9e7e7;
    }
          
  }
    
  .reblog {
    margin-left: 5px !important;
    color: #c5c5c5;
  }

  .noborder {
    border: none !important;
  }

  .toolbar-content {
    max-width: 73% !important;
    margin-left: -8px !important;
  }

  .custom-card {
    -webkit-box-shadow:  none !important;
    -moz-box-shadow:  none !important;
    box-shadow: none !important;
    border-radius: 8px;
    border: 1px solid #e9e7e7;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
    
}