page-edit-comment {

    .title.title-md, .title.title-wp {
        position: absolute !important;
        left: 50% !important;
        top: 0 !important;
        transform: translateX(-50%) !important;
        height: 100% !important;
        width: 70% !important;
        text-align: center !important;
    }
    
    // Resolve width for general tablets
    @media only screen and (device-width: 768px) {

        .scroll-content {
              width: 75% !important;
              margin-left: auto;
              margin-right: auto;
        }
        
        .card {
              border-radius: 5px;
              border: 1px solid #e9e7e7;
        }
    }

    // Resolve width for Ipad Pro
    @media only screen 
    and (min-device-width : 1024px) 
    and (max-device-width : 1366px) { 
  
        .scroll-content {
              width: 75% !important;
              margin-left: auto;
              margin-right: auto;
        }
  
        .card {
              border-radius: 5px;
              border: 1px solid #e9e7e7;
        }
              
    }

    ion-item {
        border: 1px solid #e9e7e7 !important;
        border-radius: 8px;
        margin-top: -8px !important;
    }

    .label-title {
        font-size: 0.9em !important;
    }
}
