no-data {

      .noResults {
		height: 100% !important;
		justify-content: center !important;

		p {
			font-size: 1.2em !important;
		}
	}
		
	.notFound {
		font-size: 7.5em !important;
		color: gainsboro !important;
	}

	.card {
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		    
	}
}
