<ion-header [class]="chosenTheme">
  <ion-navbar color="primary" id="header">
    <ion-buttons>
      <button ion-button (tap)="dismiss()">
        <ion-icon class="custom-close" name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [class]="chosenTheme">

  <ion-spinner *ngIf="is_loading"></ion-spinner>
  <ion-list style="margin-bottom: 25%;">
    <div *ngFor="let comment of comments | slice:0:slice;" class="message-wrapper">
      <render-comment [comment]="comment"></render-comment>
    </div>
  </ion-list>

  <no-data *ngIf="no_content == true" icon="chatbubbles" title="This post does not have any comments, YET!">
  </no-data>

  <ion-infinite-scroll *ngIf="is_more == true" (ionInfinite)="load_more($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<div [class]="chosenTheme">
  <ion-footer id="comment-footer">
    <ion-item no-lines>
      <button ion-button clear item-start (click)="presentActionSheet()">
        <ion-icon class="footer-btn" name="camera"></ion-icon>
      </button>
      <form [formGroup]="commentForm">
        <ion-item no-lines>
          <ion-textarea #myInput type="text" rows="1" (click)="getCaretPos(myInput)" (keyup)="getCaretPos(myInput)" (input)="adjustTextarea($event);"
            placeholder="Write a comment..." [formControl]="commentForm.controls['comment']"></ion-textarea>
        </ion-item>
      </form>
      <!-- <ion-textarea #myInput id="myInput" rows="1" (input)="adjustTextarea($event);" [(ngModel)]="chatBox" placeholder="Write a comment..."></ion-textarea> -->
      <!-- <ion-input [(ngModel)]="chatBox" placeholder="Write a comment..."></ion-input> -->
      <button ion-button clear (click)="comment()" item-end>
        <ion-icon class="footer-btn" name="send"></ion-icon>
      </button>
    </ion-item>
  </ion-footer>
</div>