material-menu {

  ion-badge {
    max-width: fit-content;
    margin-top: 2px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
  }

  .badge-ios-light {
    top: 100px !important;
  }

  .ion-material-sidemenu-header {
    height: 165px;
    padding: 16px 16px 8px 16px;
    background-size: cover !important;
    background-color: #232a57 !important;
    box-shadow: inset 0px -117px 126px -73px rgba(0,0,0,0.75);
  }
    
  .ion-material-sidemenu-header img.picture {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid white;
    margin-top: 10px;
    object-fit: cover;
  }
    
  .ion-material-sidemenu-header div.subtitle {
    margin-top: 6px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bolder;
  }
    
  .ion-material-sidemenu-header div.subtitle h1, h2 {
    margin: 4px 0 0 0;
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-weight: bolder;
  }
    
  .ion-material-sidemenu-header div.subtitle h2 {
    font-weight: bolder;
  }
    
  .ion-material-sidemenu-container .menu-item {
    font-weight: 500;
    font-size: 14px;
    color: $primary-dark-color;
  }
    
  .ion-material-sidemenu-container .menu-item .icon {
    color: #757575;
    font-size: 24px;
    min-height: 24px;
  }
    
  .ion-material-sidemenu-container .list-header {
    margin: 8px auto 0 auto;
    border-top: 1px solid #dedede;
    text-transform: capitalize;
  }
    
  .ion-material-sidemenu-container .list-separator {
    margin: 8px auto;
    border-bottom: 1px solid #dedede;
  }

  .voting_power {
    border-radius: 20%;
    position: absolute;
    top: 82px;
    color: black;
    left: 9.5%;
    font-weight: bold;
    padding: 3px 5px;
  }
    
}