<ion-header no-border id="header">
  <ion-navbar color="primary">
    <ion-title>
      {{ 'generic_messages.submit_post' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="post()">
        {{ 'generic_messages.submit' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce padding id="posting-page">
  <p *ngIf="is_preview == true" text-center>{{ 'generic_messages.preview_mode' | translate }}</p>
  <div *ngIf="is_preview == true" [innerHtml]="markdowntext"></div>
  <form *ngIf="is_preview == false" [formGroup]="storyForm">
    <ion-item no-lines>
      <ion-label class="label-title" color="primary" stacked>
        <ion-badge color="primary">{{ 'generic_messages.title' | translate }}</ion-badge>
      </ion-label>
      <ion-textarea type="text" rows="1" (keydown.enter)="preventEnter($event)" (input)="adjustTextarea($event);" placeholder="{{ 'generic_messages.title_post' | translate }}"
        maxlength="100" [formControl]="storyForm.controls['title']"></ion-textarea>
    </ion-item>
    <hr />
    <ion-item no-lines>
      <ion-label class="label-title" color="primary" stacked>
        <ion-badge color="primary">{{ 'generic_messages.description' | translate }}</ion-badge>
      </ion-label>
      <ion-textarea #myInput *ngIf="is_preview == false" (click)="getCaretPos(myInput)" (keyup)="getCaretPos(myInput)" type="text"
        rows="15" placeholder="{{ 'generic_messages.post_placeholder' | translate }}" [formControl]="storyForm.controls['description']"></ion-textarea>
    </ion-item>
    <hr />
    <ion-item no-lines>
      <ion-label class="label-title" color="primary" stacked>
        <ion-badge color="primary">{{ 'generic_messages.tags' | translate }}</ion-badge>
        <ion-badge color="gray">{{ 'generic_messages.separated_by' | translate }}</ion-badge>
      </ion-label>
      <ion-textarea type="text" rows="1" (keydown.enter)="preventEnter($event)" (input)="adjustTextarea($event);" placeholder="{{ 'generic_messages.title_tags' | translate }}"
        [formControl]="storyForm.controls['tags']"></ion-textarea>
    </ion-item>
    <hr />
  </form>

  <ion-item *ngIf="is_preview == false" no-lines>
    <ion-label color="primary">{{ 'generic_messages.upvote' | translate }}</ion-label>
    <ion-toggle [(ngModel)]="upvote"></ion-toggle>
  </ion-item>
  <hr />
  <ion-item *ngIf="is_preview == false" no-lines>
    <ion-label color="primary">{{ 'generic_messages.rewards' | translate }}</ion-label>
    <ion-select text-wrap [(ngModel)]="rewards">
      <ion-option text-wrap value="50%">{{ 'generic_messages.default_rewards' | translate }}</ion-option>
      <ion-option text-wrap value="100%">{{ 'generic_messages.100_rewards' | translate }}</ion-option>
      <ion-option text-wrap value="0%">{{ 'generic_messages.no_payout' | translate }}</ion-option>
    </ion-select>
  </ion-item>

</ion-content>

<ion-footer id="editor-toolbar">
  <ion-toolbar>
    <ion-grid class="top-four" text-center>
      <ion-row>
        <ion-col text-center tappable (click)="insertText('**bold**')" (mousedown)="preventFocusChange($event)">
          <a class="button button-small">
            <i class="fa fa-bold"></i>
          </a>
        </ion-col>
        <ion-col text-center tappable (click)="insertText('*italic*')" (mousedown)="preventFocusChange($event)">
          <a class="button button-small">
            <i class="fa fa-italic"></i>
          </a>
        </ion-col>
        <ion-col text-center tappable (click)="insertText('# header')" (mousedown)="preventFocusChange($event)">
          <a class="button button-small">
            <i class="fa fa-header"></i>
          </a>
        </ion-col>
        <ion-col text-center tappable (click)="insertText('> quote')" (mousedown)="preventFocusChange($event)">
          <a class="button button-small">
            <i class="fa fa-quote-right"></i>
          </a>
        </ion-col>
        <ion-col text-center tappable (click)="insertText('- item')" (mousedown)="preventFocusChange($event)">
          <a class="button button-small">
            <i class='fa fa-list'></i>
          </a>
        </ion-col>
        <ion-col text-center tappable (click)="insertText('1. item')" (mousedown)="preventFocusChange($event)">
          <a class="button button-small">
            <i class='fa fa-list-ol'></i>
          </a>
        </ion-col>
        <ion-col text-center tappable (click)="insertLink()" (mousedown)="preventFocusChange($event)">
          <a class="button button-small">
            <i class='fa fa-link'></i>
          </a>
        </ion-col>
        <ion-col text-center (mousedown)="preventFocusChange($event)" tappable (click)="presentActionSheet()">
          <a class="button button-small">
            <i class='fa fa-picture-o'></i>
          </a>
        </ion-col>
        <ion-col text-center (mousedown)="preventFocusChange($event)" tappable (click)="showPreview()">
          <a class="button button-small">
            <i class='fa fa-eye'></i>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>