<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>
      Submit a story
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="post()">
        Submit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce padding>
  <p *ngIf="is_preview == true" text-center>Preview Mode</p>
  <div *ngIf="is_preview == true" [innerHtml]="markdowntext"></div>
  <form *ngIf="is_preview == false" [formGroup]="storyForm">
    <ion-item no-lines>
      <ion-label class="label-title" color="primary" stacked>
        <ion-badge color="primary">Title</ion-badge> 
      </ion-label>
      <ion-textarea type="text" rows="1" (keydown.enter)="preventEnter($event)" (input)="adjustTextarea($event);" placeholder="Type here the title of your post"
        maxlength="100" [formControl]="storyForm.controls['title']"></ion-textarea>
    </ion-item>
    <hr />
    <ion-item no-lines>
      <ion-label class="label-title" color="primary" stacked>
        <ion-badge color="primary">Description</ion-badge>
      </ion-label>
      <ion-textarea #myInput *ngIf="is_preview == false" (click)="getCaretPos(myInput)" (keyup)="getCaretPos(myInput)" type="text" rows="15" 
        placeholder="Write your story in here." [formControl]="storyForm.controls['description']"></ion-textarea>
    </ion-item>
    <hr />
    <ion-item no-lines>
      <ion-label class="label-title" color="primary" stacked>
        <ion-badge color="primary">Tags</ion-badge>
        <ion-badge color="gray">separated by comma</ion-badge>  
      </ion-label>
      <ion-textarea type="text" rows="1" (keydown.enter)="preventEnter($event)"  (input)="adjustTextarea($event);" placeholder="You can choose up to 5 tags." 
        [formControl]="storyForm.controls['tags']"></ion-textarea>
    </ion-item>
    <hr />
  </form>

  <ion-item *ngIf="is_preview == false" no-lines>
    <ion-label color="primary">Upvote</ion-label>
    <ion-toggle [(ngModel)]="upvote"></ion-toggle>
  </ion-item>
  <hr />
  <ion-item *ngIf="is_preview == false" no-lines>
    <ion-label color="primary">Rewards</ion-label>
    <ion-select text-wrap [(ngModel)]="rewards">
      <ion-option text-wrap value="50%">Default 50% / 50%</ion-option>
      <ion-option text-wrap value="100%">Power Up 100%</ion-option>
      <ion-option text-wrap value="0%">Decline Payout</ion-option>
    </ion-select>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-grid class="top-four">
    <ion-row>
      <ion-col tappable (click)="insertText('**bold**')" (mousedown)="preventFocusChange($event)">
        <a class="button button-small">
          <i class="fa fa-bold"></i>
        </a>
      </ion-col>
      <ion-col tappable (click)="insertText('*italic*')" (mousedown)="preventFocusChange($event)">
        <a class="button button-small">
          <i class="fa fa-italic"></i>
        </a>
      </ion-col>
      <ion-col tappable (click)="insertText('# header')" (mousedown)="preventFocusChange($event)">
        <a class="button button-small">
          <i class="fa fa-header"></i>
        </a>
      </ion-col>
      <ion-col tappable (click)="insertText('> quote')" (mousedown)="preventFocusChange($event)">
        <a class="button button-small">
          <i class="fa fa-quote-right"></i>
        </a>
      </ion-col>
      <ion-col (mousedown)="preventFocusChange($event)">
        <a class="button button-small">
          <i class='fa fa-list'></i>
        </a>
      </ion-col>
      <ion-col (mousedown)="preventFocusChange($event)">
        <a class="button button-small">
          <i class='fa fa-list-ol'></i>
        </a>
      </ion-col>
      <ion-col (mousedown)="preventFocusChange($event)">
        <a class="button button-small">
          <i class='fa fa-link'></i>
        </a>
      </ion-col>
      <ion-col (mousedown)="preventFocusChange($event)" tappable (click)="presentActionSheet()">
        <a class="button button-small">
          <i class='fa fa-picture-o'></i>
        </a>
      </ion-col>
      <ion-col (mousedown)="preventFocusChange($event)" tappable (click)="showPreview()">
        <a class="button button-small">
          <i class='fa fa-eye'></i>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>