// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../pages/TabsSections/sections.scss";

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.svg#rocketdesign-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'ProximaNova-Regular', Helvetica neue, sans-serif;
}

ion-content {
  background-color: #fcfcff !important;
}

ion-menu {
  ion-content {
    background-color: #ffffff !important;
  }
}

.ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child .scroll-content {
  padding-top: 0 !important;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  border-width: 0 !important;
}

.tabbar {
  background: #ffffff !important;
  border-top: 1px solid #e9e7e7;
}

.tabbar::before {
  top: none !important;
  bottom: none !important;
  background-position: none !important;
  height: none !important;
}

.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  display: none !important;
}

.footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before {
  display: none !important;
}

// .card:first-child {
//   margin: 10px 0 0 0;
// }

.has-refresher > .scroll-content {
  border: none !important;
}

.refresher-pulling-icon, .refresher-refreshing-icon {
  color: black !important;
}

ion-spinner * {
  width: 28px;
  height: 28px;
  stroke: black !important;
  fill: transparent !important;
}

ion-spinner {
  margin: 0 auto;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title.title-md, .title.title-wp {
  position: absolute !important;
  left: 50% !important;
  top: 0 !important;
  transform: translateX(-50%) !important;
  height: 100% !important;
  width: 70% !important;
  text-align: center !important;
}

// .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
//   display: none !important;
// }

// Hide scrollbars

div::-webkit-scrollbar {
  border:none;
  width:0;
  background: rgba(0,0,0,0);
} 

div::-webkit-scrollbar-track {
  border:none;
  width:0;
  background: rgba(0,0,0,0);
}
 
div::-webkit-scrollbar-thumb {
  border:none;
  width:0;
  background: rgba(0,0,0,0);
}


.scroll-content{
  overflow-y: visible; // or "overflow: auto;"
}

.mt3{
  margin-top: 3px;
}
.reblog {
  margin-left: 5px !important;
  color: #c5c5c5;
}
.noborder {
  border: none !important;
}

.header-md::after, .header-ios::after {
  display: none;
}

.bar-button-menutoggle-md, 
.back-button-md, 
.bar-button-menutoggle-ios, 
.back-button-ios {
  margin: 0 -5px !important;
}

// CRYPTO ICONS

.crypto-icons-general {
  display: inline-block;
  font: normal normal normal 24px/1 "cryptocoins";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

// STEEM ICON
.ion-ios-cc-steem::before,
.ion-ios-cc-steem-outline::before,
.ion-md-cc-steem::before {
  @extend .crypto-icons-general;
  content: "\E0E1";
}

// BTC ICON
.ion-ios-cc-btc::before,
.ion-ios-cc-btc-outline::before,
.ion-md-cc-btc::before {
  @extend .crypto-icons-general;
  content: "\E029";
}

// ETH ICON
.ion-ios-cc-eth::before,
.ion-ios-cc-eth-outline::before,
.ion-md-cc-eth::before {
  @extend .crypto-icons-general;
  content: "\E04D";
}

// LTC ICON
.ion-ios-cc-ltc::before,
.ion-ios-cc-ltc-outline::before,
.ion-md-cc-ltc::before {
  @extend .crypto-icons-general;
  content: "\E085";
}

// ANDROID POPOVER

.popover-viewport {
  opacity: 1 !important;
}

.popover-content {
  width: 98% !important;
  left: 1% !important;
}

.popover-md .popover-arrow {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 20px;
  height: 10px;
}

.popover-md .popover-arrow::after {
  left: 3px;
  top: 3px;
  border-radius: 3px;
  position: absolute;
  z-index: 10;
  width: 14px;
  height: 14px;
  background-color: #fff;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popover-md.popover-bottom .popover-arrow {
  top: auto;
  bottom: -10px;
}

.popover-md.popover-bottom .popover-arrow::after {
  top: -6px;
}

.popover-md .item-md {
  padding-left: 16px;
}

.popover-ios .item-ios[detail-push] .item-inner,
.popover-ios button.item-ios:not([detail-none]) .item-inner,
.popover-ios a.item-ios:not([detail-none]) .item-inner {
  background-position: right 14px center;
}

.popover-md .item-md[detail-push] .item-inner,
.popover-md button.item-md:not([detail-none]) .item-inner,
.popover-md a.item-md:not([detail-none]) .item-inner {
  background-position: right 14px center;
}

.popover-md .popover-content {
  border-radius: 10px;
  width: 200px;
  min-width: 0;
  min-height: 0;
  max-height: 90%;
  color: #000;
  background: #fff;
  box-shadow: none;
  border-left: 1px solid #d2cfcf;
  border-right: 1px solid #d2cfcf;
  border-bottom: 1px solid #d2cfcf;
}

.popover-md .popover-viewport {
  opacity: 0;
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

// ANDROID RANGE

.range-md {
  padding: 8px 16px;
}

.range-md [range-left] {
  margin: 0 20px 0 0;
}

.range-md [range-right] {
  margin: 0 0 0 20px;
}

.range-md.range-has-pin {
  padding-top: 20px;
}

.range-md .range-slider {
  height: 42px;
}

.range-md .range-bar {
  left: 0;
  top: 21px;
  border-radius: 1px;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #bdbdbd;
  pointer-events: none;
}

.range-md.range-pressed .range-bar-active {
  will-change: left, right;
}

.range-md.range-pressed .range-knob-handle {
  will-change: left;
}

.range-md .range-bar-active {
  bottom: 0;
  width: auto;
  background: #488aff;
}

.range-md .range-knob-handle {
  left: 0;
  top: 21px;
  margin-left: -21px;
  margin-top: -21px;
  text-align: center;
  position: absolute;
  width: 42px;
  height: 42px;
}

.range-md .range-knob {
  left: 7px;
  top: 7px;
  border-radius: 50%;
  position: absolute;
  width: 28px;
  height: 28px;
  background: #fff;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.13), 0 0 0 1px rgba(0, 0, 0, 0.02);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.13), 0 0 0 1px rgba(0, 0, 0, 0.02);
  pointer-events: none;
}

.range-md .range-tick {
  margin-left: -0.5px;
  border-radius: 0;
  position: absolute;
  top: 17.5px;
  width: 1px;
  height: 8px;
  background: #bdbdbd;
  pointer-events: none;
}

.range-md .range-tick-active {
  background: #488aff;
}

.range-md .range-pin {
  text-align: center;
  border-radius: 50px;
  -webkit-transform: translate3d(0,  28px,  0) scale(0.01);
  transform: translate3d(0,  28px,  0) scale(0.01);
  position: relative;
  top: -20px;
  display: inline-block;
  min-width: 28px;
  font-size: 12px;
  color: #000;
  background: transparent;
  -webkit-transition: -webkit-transform 120ms ease;
  transition: -webkit-transform 120ms ease;
  transition: transform 120ms ease;
  transition: transform 120ms ease, -webkit-transform 120ms ease;
  padding: 8px;
}

.range-md .range-knob-pressed .range-pin {
  -webkit-transform: translate3d(0,  0,  0) scale(1);
  transform: translate3d(0,  0,  0) scale(1);
}

.range-md.range-disabled {
  opacity: .5;
}

.range-md-primary .range-bar-active,
.range-md-primary .range-tick-active {
  background: #488aff;
}

.range-md-secondary .range-bar-active,
.range-md-secondary .range-tick-active {
  background: #32db64;
}

.range-md-danger .range-bar-active,
.range-md-danger .range-tick-active {
  background: #f53d3d;
}

.range-md-light .range-bar-active,
.range-md-light .range-tick-active {
  background: #f4f4f4;
}

.range-md-dark .range-bar-active,
.range-md-dark .range-tick-active {
  background: #222;
}

.range-md-gray .range-bar-active,
.range-md-gray .range-tick-active {
  background: #999;
}

.range-md-light2 .range-bar-active,
.range-md-light2 .range-tick-active {
  background: #dbdbdb;
}

.range-md-white .range-bar-active,
.range-md-white .range-tick-active {
  background: #ffffff;
}

.range-md-black .range-bar-active,
.range-md-black .range-tick-active {
  background: #000000;
}

.range-md-gray2 .range-bar-active,
.range-md-gray2 .range-tick-active {
  background: #f1f2f3;
}

// MATERIAL DESIGN ICONS

.mdi-icons-general {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

// HOT ICON
.ion-ios-mdi-flame::before,
.ion-ios-mdi-flame-outline::before,
.ion-md-mdi-flame::before {
  @extend .mdi-icons-general;
  content: "\F238";
}

// NEW ICON
.ion-ios-mdi-flash-circle::before,
.ion-ios-mdi-flash-circle-outline::before,
.ion-md-mdi-flash-circle::before {
  @extend .mdi-icons-general;
  content: "\F81F";
}

// FEED ICON
.ion-ios-mdi-file-document-box::before,
.ion-ios-mdi-file-document-box-outline::before,
.ion-md-mdi-file-document-box::before {
  @extend .mdi-icons-general;
  content: "\F21A";
}

// TRENDING ICON
.ion-ios-mdi-elevation-rise::before,
.ion-ios-mdi-elevation-rise-outline::before,
.ion-md-mdi-elevation-rise::before {
  @extend .mdi-icons-general;
  content: "\F1EC";
}

// UPVOTED ICON
.ion-ios-mdi-thumb-up::before,
.ion-ios-mdi-thumb-up-outline::before,
.ion-md-mdi-thumb-up::before {
  @extend .mdi-icons-general;
  content: "\F513";
}

// VOTE ICON
.ion-ios-mdi-thumb-up-outline::before,
.ion-ios-mdi-thumb-up-outline::before,
.ion-md-mdi-thumb-up-outline::before {
  @extend .mdi-icons-general;
  content: "\F514";
}

// ADD ICON
.ion-ios-mdi-plus-circle::before,
.ion-ios-mdi-plus-circle-outline::before,
.ion-md-mdi-plus-circle::before {
  @extend .mdi-icons-general;
  content: "\F417";
}

// SEARCH ICON
.ion-ios-mdi-magnify::before,
.ion-ios-mdi-magnify-outline::before,
.ion-md-mdi-magnify::before {
  @extend .mdi-icons-general;
  content: "\F349";
}

// NOTIFICATIONS ICON
.ion-ios-mdi-bell::before,
.ion-ios-mdi-bell-outline::before,
.ion-md-mdi-bell::before {
  @extend .mdi-icons-general;
  content: "\F09A";
}

// MENU ICON
.ion-ios-mdi-menu::before,
.ion-ios-mdi-menu-outline::before,
.ion-md-mdi-menu::before {
  @extend .mdi-icons-general;
  content: "\F35C";
}

// MENU ICONS

// HOME ICON
.ion-ios-mdi-home::before,
.ion-ios-mdi-home-outline::before,
.ion-md-mdi-home::before {
  @extend .mdi-icons-general;
  content: "\F2DC";
}

// PROFILE ICON
.ion-ios-mdi-account::before,
.ion-ios-mdi-account-outline::before,
.ion-md-mdi-account::before {
  @extend .mdi-icons-general;
  content: "\F004";
}

// DRAW ICON
.ion-ios-mdi-message-draw::before,
.ion-ios-mdi-message-draw-outline::before,
.ion-md-mdi-message-draw::before {
  @extend .mdi-icons-general;
  content: "\F363";
}

.upvote {
  font-size: 1.8em;
  color: gray !important;
}

.unvote {
  font-size: 1.8em;
  color: #488aff !important;
}

@media only screen and (min-height: 768px) and (min-width: 768px) {
  .full-modal {
    .modal-wrapper {
  
      position: absolute;
      display: block;
      left: calc(50% - (80%/2)) !important;
      top: calc(50% - (80%/2)) !important;
      width: 80% !important;
      height: 80% !important;
    } 
  }
}

@media only screen and (min-height: 600px) and (min-width: 768px) {
  .full-modal {
    .modal-wrapper {
  
      position: absolute;
      display: block;
      left: calc(50% - (80%/2)) !important;
      top: calc(50% - (80%/2)) !important;
      width: 80% !important;
      height: 80% !important;
    } 
  }
}

.custom-close {
  font-size: 24px;
}
