// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../pages/TabsSections/sections.scss";

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.svg#rocketdesign-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'ProximaNova-Regular', Helvetica neue, sans-serif;
}

ion-content {
  background-color: #fcfcff !important;
}

ion-menu {
  ion-content {
    background-color: #ffffff !important;
  }
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  border-width: 0 !important;
}

.tabbar {
  background: #ffffff !important;
  border-bottom: 1px solid #e9e7e7;
}

.card {
  border-top: 1px solid #e9e7e7;
  border-bottom: 1px solid #e9e7e7;
  width: 100% !important;
  margin: 0 0 10px 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.card:first-child {
  margin: 10px 0 0 0;
}

.has-refresher > .scroll-content {
  border: none !important;
}

.refresher-pulling-icon, .refresher-refreshing-icon {
  color: black !important;
}

ion-spinner * {
  width: 28px;
  height: 28px;
  stroke: black !important;
  fill: transparent !important;
}

ion-spinner {
  margin: 0 auto;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title.title-md, .title.title-wp {
  position: absolute !important;
  left: 50% !important;
  top: 0 !important;
  transform: translateX(-50%) !important;
  height: 100% !important;
  width: 70% !important;
  text-align: center !important;
}

[tabsPlacement=top] > .tabbar {
  top: 0;
  bottom: auto;
  height: 42px !important;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  display: none !important;
}

// Hide scrollbars

div::-webkit-scrollbar {
  border:none;
  width:0;
  background: rgba(0,0,0,0);
} 

div::-webkit-scrollbar-track {
  border:none;
  width:0;
  background: rgba(0,0,0,0);
}
 
div::-webkit-scrollbar-thumb {
  border:none;
  width:0;
  background: rgba(0,0,0,0);
}

.mt3{
  margin-top: 3px;
}
.reblog {
  margin-left: 5px !important;
  color: #c5c5c5;
}
.noborder {
  border: none !important;
}