post-card {

      iframe {
            width: 100%;
      }
      
      #postImage { 
            height: 280px; 
            width: 100%; 
            overflow: hidden; 
      }
        
      .info {
            color: gray;
      }
        
      ion-icon {
            color: gray;
      }
      
      .mt4 {
            margin-top: 4px;
      }
    
      .img {
            position: relative;
            background-position: 50% 50%;
            background-repeat:   no-repeat;
      }
    
      .voters_image {
            display:inline-block;
            
            img {
                  height: 25px;
                  width: 25px;
                  border-radius: 50%;
                  background-position: 50% 50%;
                  border-radius: 50%;
                  border: 1.5px solid white;
                  object-fit: cover;
            }
      }
    
      .voters_image:not(:first-of-type) {
            margin-left: -6px;
      }
    
      .voters {
            float: left;
            padding: 5px;
      }
    
      .likes {
            float: left;
            padding: 10px 10px 10px 0;
    
            p {
                font-size: 12px;
            }
      }
    
      .button-clear {
            color: #565656 !important;
      }
    
      ion-spinner {
            top: 0 !important;
      }

      ion-avatar img {
            object-fit: cover;
      }

      .card {
            -webkit-box-shadow:  none !important;
            -moz-box-shadow:  none !important;
            box-shadow: none !important;
            border-radius: 4px;
            // border: 1px solid #e9e7e7;
      }

      .top-4 {
            margin-top: 4px !important;
      }

      .nsfw-overlay {
            width: 100%;
            height: 200px;
            background-color: black;
            z-index: 999999;
      }

      .nsfw-text {
            position: relative;
            top: 50%;
            transform: translateY(-50%); 
            text-align: center;
            color: white;

            p {
                  color: white;
                  font-size: 1.6em;
            }
      }

      .post-user {
            font-weight: 400;
            text-transform: capitalize;
      }

      .card-md h2, .card-ios h2 {
            color: #424141 !important;
      }

      .post-title {
            padding: 0 16px 16px 16px !important;
      }
        
}
