<ion-card>
    <ion-card-header no-padding>
      <!-- <ion-note class="reblog" *ngIf="content.reblogged_by.length>0">
        <ion-icon name="ios-redo"></ion-icon>
        Reblogged by @{{ content.reblogged_by }}
      </ion-note> -->
  
      <ion-item>
        <ion-avatar item-start tappable (click)="openProfile(content.author)">
          <img-loader [src]="renderImage('profile', content.avatar)" useImg></img-loader>
        </ion-avatar>
        <div>
          <ion-badge color="primary"> {{ content.author }}</ion-badge>
          <ion-badge color="gray"> {{ content.author_reputation }} </ion-badge>
        </div>
        <div class="mt4">
          <ion-badge color="light">
            <ion-icon mini name="attach"></ion-icon>
            &nbsp; {{ content.category }}
          </ion-badge>
          <ion-note end>{{ content.created | amTimeAgo }}</ion-note>
        </div>
        <ion-icon *ngIf="!content.vote && is_voting == false" name="ios-thumbs-up-outline" item-right (tap)="castVote(content.author, content.url, 10000);"></ion-icon>
  
        <ion-icon *ngIf="content?.vote && is_voting == false" name="ios-thumbs-up" item-right color="primary" (tap)="castVote(content.author, content.url, 0);"></ion-icon>
  
        <ion-spinner *ngIf="is_voting == true" item-right></ion-spinner>
      </ion-item>
    </ion-card-header>
  
    <ion-card-content no-padding tappable (click)="postOpen(content)">
      <h2 padding>{{ content.title }}</h2>
      <!-- <div *ngIf="content.json_metadata.image" class="img" [ngStyle]="{'background-image': 'url(' + content.json_metadata.image[0] + ')'}"></div> -->
      <img-loader class="img" [src]="renderImage('cover', content.body)" (error)="imgError($event)"></img-loader>
  
    </ion-card-content>
  
    <ion-row>
  
      <ion-col col-5 text-center>
        <div style="float: left;" *ngIf="content.top_likers_avatars" (click)="openVotes(content.url)">
          <div class="voters">
            <span class="voters_image" *ngFor="let voter of content.top_likers_avatars">
              <img [src]="renderImage('votes', voter)" (error)="imgError($event)"/>
            </span>
          </div>
          <div class="likes">
            <p>{{ renderLikes(content.net_likes) }}</p>
          </div>
        </div>
      </ion-col>
  
      <ion-col col-3 text-center>
        <button ion-button clear small left (click)="openComments(content.url)">
          <ion-icon name="ios-text"></ion-icon>
          &nbsp;
          <div class="info">{{ content.children }}</div>
        </button>
      </ion-col>
  
      <ion-col col-4 text-center>
        <button end ion-button icon-right clear small>
          <ion-icon name="cash"></ion-icon>
          &nbsp;
          <div class="info">
            {{ content.pending_payout_value | currency:'USD': 'symbol' }}
          </div>
        </button>
      </ion-col>
  
    </ion-row>
  </ion-card>