page-messages {

      .user_name {
            color: #2a2a2a;
        }
        .message {
            padding: 10px !important;
            transition: all 250ms ease-in-out !important;
            border-radius: 10px !important;
            margin-top: 18px !important;
            margin-bottom: 4px !important;
        }
        .message--mine {
            margin-left: 25%;
            background: color($colors, primary) !important;
            color: #fff !important;
    
            .time {
                right: 0;
            }
        }
        .message--other {
            background: #dcdcdc !important;
            color: #000 !important;
    
            .time {
                left: 0;
            }
        }
    
        .time {
            color: #afafaf;
            position: absolute;
            top: -18px;
            font-size: small;
        }
        
        .message_row {
            background-color: #fff;
        }

}
