page-settings {
    .list-header-md {
        background-color: #F1F2F3;
        margin-bottom: 0px;
    }
    .item-inner {
        border: none !important;
    }
    .item-md {
        border-bottom: 1px solid #dedede;
    }
    .item-ios {
        border-bottom: 1px solid #dedede;
    }
}