page-search {

    .noResults {
        height: 100% !important;
        justify-content: center !important;
    
        p {
          font-size: 1.2em !important;
        }
    }
      
    .notFound {
        font-size: 7.5em !important;
    }

    .ask-steem {
        img {
            width: 50%;
        }
    }

    // Resolve width for general tablets
    @media only screen and (device-width: 768px) {
        .scroll-content {
            width: 75% !important;
            margin-left: auto;
            margin-right: auto;;
        }

        .card {
            border-radius: 5px;
            border: 1px solid #e9e7e7;
        }
            
    }

    // Resolve width for Ipad Pro
    @media only screen 
    and (min-device-width : 1024px) 
    and (max-device-width : 1366px) { 

    .scroll-content {
        width: 75% !important;
        margin-left: auto;
        margin-right: auto;;
    }

    .card {
        border-radius: 5px;
        border: 1px solid #e9e7e7;
    }
        
    }

    .reblog {
        margin-left: 5px !important;
        color: #c5c5c5;
    }

    .noborder {
        border: none !important;
    }

}
