<ion-header>

  <ion-navbar color="primary">

    <ion-title>
        
    </ion-title>
  
    <ion-buttons end>
    </ion-buttons>
  
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-searchbar (keyup)="searchTerm$.next($event.target.value)"></ion-searchbar>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list *ngIf="results">
    <ion-item *ngFor="let result of results">
      <ion-thumbnail item-start>
        <img *ngIf="result.meta.image" [src]="result.meta.image[0]">
      </ion-thumbnail>
      <h2>{{ result.title }}</h2>
      <p>{{ result.summary }}</p>
    </ion-item>
  </ion-list>
</ion-content>
