post-render {

    #postImage { 
        height: 280px; 
        width: 100%; 
        overflow: hidden; 
    }
    .info {
        color: gray;
    }
    ion-icon {
        color: gray;
    }
    .mt3{
        margin-top: 3px;
      }

}
