<ion-grid no-padding>
  <ion-row no-padding>
    <ion-col *ngFor="let content of contents" col-12 no-padding>
      <ion-card>
        <ion-card-header no-padding>
          <ion-note class="reblog" *ngIf="content.reblogged_by.length>0">
            <ion-icon name="return-right"></ion-icon>
            Reblogged by {{ content.reblogged_by }}
          </ion-note>

          <ion-item>
            <ion-avatar item-start>
              <img src="https://img.busy.org/@{{content.author}}?s=100">
            </ion-avatar>
            <div>
              {{ content.author }} ({{ content.author_reputation }})
            </div>
            <div class="mt3">
              <ion-badge color="light">
                <ion-icon mini name="attach"></ion-icon>
                &nbsp; {{ content.category }}
              </ion-badge>
              <ion-note end >{{ content.created }}</ion-note>
            </div>
          </ion-item>
        </ion-card-header>

        <ion-card-content no-padding (tap)="postOpen(content, i)">

          <img *ngIf="content.json_metadata.image" [src]="content.json_metadata.image[0]">

          <h2 style="overflow: scroll" padding>{{ content.title }}</h2>
          
        
        </ion-card-content>

        <ion-row>
          <ion-col col-4 text-center>
            <button ion-button clear small>
              <ion-icon name="ios-thumbs-up"></ion-icon>
              &nbsp;
              <div>{{ content.net_votes }}</div>
            </button>
          </ion-col>
      
          <ion-col col-4 text-center>
            <button ion-button clear small left>
              <ion-icon name="ios-text"></ion-icon>
              &nbsp;
              <div>{{ content.children }}</div>
            </button>
          </ion-col>

          <ion-col col-4 text-center>
            <button end ion-button icon-right clear small>
              <ion-icon name="cash"></ion-icon>
              &nbsp;
              <div>
                {{ content.pending_payout_value | currency:'USD': 'symbol' }}
              </div>
            </button>
          </ion-col>
        </ion-row>
        
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>