post-render {

    #postImage { 
        height: 280px; 
        width: 100%; 
        overflow: hidden; 
    }

    .img {
        position: relative;
        width:  100%;
        height: 200px;
        background-position: 50% 50%;
        background-repeat:   no-repeat;
        background-size:     cover;
    }

}
