<ion-header id="header">

  <ion-navbar color="primary">
    <ion-title>{{ 'pages.notifications.page_title' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list no-lines>
    <div *ngFor="let notification of notifications; let i = index">

      <!-- IF NOTIFICATION IS FOLLOW -->
      <ion-item  no-lines *ngIf="notification.type == 'follow'" (click)="open_profile(i);" id="notification-item">
        <ion-avatar item-start>
          <img [src]="render_image(notification.follower)" (error)="util.imgError('comment', $event)">
        </ion-avatar>

        <h2>
          <strong>{{ notification.follower }}</strong> {{ 'pages.notifications.started_following' | translate }}
        </h2>

        <p>{{ util.parse_date(parse_date(notification.timestamp)) }}</p>
      </ion-item>

      <!-- IF NOTIFICATION IS MENTION -->
      <ion-item no-lines *ngIf="notification.type == 'mention'" (click)="open_post(i);" id="notification-item">
        <ion-avatar item-start>
          <img [src]="render_image(notification.author)" (error)="util.imgError('comment', $event)">
        </ion-avatar>

        <h2>
          <strong>{{ notification.author }}</strong> {{ 'pages.notifications.mentioned_you' | translate }}
        </h2>
        <p>{{ util.parse_date(parse_date(notification.timestamp)) }}</p>
      </ion-item>

      <!-- IF NOTIFICATION IS REPLY -->
      <ion-item no-lines *ngIf="notification.type == 'reply'" (click)="open_post(i);" id="notification-item">
        <ion-avatar item-start>
          <img [src]="render_image(notification.author)" (error)="util.imgError('comment', $event)">
        </ion-avatar>
        <h2>
          <strong>{{ notification.author }}</strong> {{ 'pages.notifications.commented' | translate }}
        </h2>
        <p>{{ util.parse_date(parse_date(notification.timestamp)) }}</p>
      </ion-item>

      <!-- IF NOTIFICATION IS TRANSFER -->
      <ion-item no-lines *ngIf="notification.type == 'transfer'" id="notification-item">
        <ion-avatar item-start>
          <img [src]="render_image(notification.from)" (error)="util.imgError('comment', $event)">
        </ion-avatar>

        <h2>
          <strong>{{ notification.from }}</strong> {{ 'pages.notifications.sent_you' | translate }} {{ notification.amount }}
        </h2>

        <p>{{ util.parse_date(parse_date(notification.timestamp)) }}</p>
      </ion-item>

      <!-- IF NOTIFICATION IS REBLOG -->
      <ion-item no-lines *ngIf="notification.type == 'reblog'" (click)="open_post(i);" id="notification-item">
        <ion-avatar item-start>
          <img [src]="render_image(notification.account)" (error)="util.imgError('comment', $event)">
        </ion-avatar>

        <h2>
          <strong>{{ notification.account }}</strong> {{ 'pages.notifications.reblogged' | translate }}
        </h2>

        <p>{{ util.parse_date(parse_date(notification.timestamp)) }}</p>
      </ion-item>

    </div>

  </ion-list>

</ion-content>