page-profile {

  .title.title-md, .title.title-wp {
    position: absolute !important;
    left: 50% !important;
    top: 0 !important;
    transform: translateX(-50%) !important;
    height: 100% !important;
    width: 70% !important;
    text-align: center !important;
  } 

  .card {
    -webkit-box-shadow:  none !important;
    -moz-box-shadow:  none !important;
    box-shadow: none !important;
    border-radius: 8px;
    border: 1px solid #e9e7e7;
  }

  $gradient:#F96B4C,
            #F23182;

  $radius: 10px;
  $visual-height: 40%;
  $datas-height: calc(100% - #{$visual-height}+2px);

  ion-header, .toolbar-background {
    background-color: initial !important;
    transition: background-color 1s ease;

    &:after {
      height: 0  !important;
    }
  }

  ion-content .scroll-content {
    margin-top:0px !important;
  }

  .card:first-child {
    margin-top: 5px;
  }

  .back-button, .bar-button, .toolbar-title {
    color: white;
  }

  .joined-date {
    font-size: 13px;
    margin-left: 2px;
  }

  .opaque {
    background-color: color($colors, primary) !important;

    &:after {
      height: 5px !important;
    }

    .toolbar-background {
      background-color: color($colors, primary);
    }
  }

  .card-profile {
    float: left;
    position: absolute;
    width: 100%;
    height: 240px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 5px rgba(black, 0.1);

    &_visual {
      height: 100%;
      overflow: hidden;
      position: relative;
      background: #232a57;
      background-size: cover !important;
      box-shadow: inset 0px -117px 126px -73px rgba(0,0,0,0.75), inset 0px 117px 126px -73px rgba(0,0,0,0.75);
    }

    &_user-infos {
      position: absolute;
      z-index: 3;
      left: 0;
      right: 0;
      margin: auto;
      top: calc(100% - 90px);
      color: #fff;
      text-align: center;
    }

    .infos_name,
    .infos_nick {
      display: block;
      clear: both;
      padding: .5em 0;
      padding-top: 0;
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 18px;
      top: 8px;
      font-weight: 800;
    }

    .infos_nick {
      top: 37px;
      font-size: 14px;
      font-weight: 300;
    }

    .info_picture {
      display: block;
      clear: both;
      position: absolute;
      text-align: center;
      width: 100%;
      top: -86px;
    }

    &_user-stats {
      margin-bottom: 10px;
      background: transparent;
      float: left;
      width: 100%;
      height: $datas-height;
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;

      .stats-holder {
        position: relative;
        margin-top: 2.8em;
        width: 100%;
        display: flex;
      }

      .user-stats {
        flex: 1;
        text-align: center;
        
        strong {
          display: block;
          float: left;
          clear: both;
          width: 100%;
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: -0.2px;
        }
      
        span {
          font-size: 26px;
          color: #5E5E5E;
          padding: .18em 0;
          display: inline-block;
        }
      }
    }
  }


  .scroll-content {
    margin-top: 46px !important;
  }

  ion-segment {
    background-color: white;
    height: 60px;
  }

  .segment-md .segment-button {
    height: 60px;
  }

  .picture {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid white;
    margin-top: 10px;
    object-fit: cover;
  }
    
  .subtitle {
    margin-top: 6px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
    
  div.subtitle h1, h2 {
    margin: 4px 0 0 0;
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
  }
    
  div.subtitle h2 {
    font-weight: 400;
  }

  .toolbar-ios, .toolbar-md {
    padding: 0px !important;
  }

  .profile {
    min-height: 40px !important
  }

  .info {
    bottom: 150px !important;
    left: 26% !important;
  }

  .card-content {

    h1, h2, h3, h4, h5 {
      color: #000;
    }
  }

  .progress-outer {
    width: 100%;
    padding: 0px;
    text-align: center;
    background-color: #f4f4f4;
    color: #fff;
    border-radius: 20px !important;
  }

  .progress-inner {
    min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 20px;
    background-color: firebrick;
  }

  .segment-md .segment-button {
    color: #000000;
  }

  .segment-ios .segment-button {
    color: #488aff; 
  }

  .segment-ios .segment-button:last-of-type {
    border-radius: 0px !important;
  }

  .segment-ios .segment-button:first-of-type {
    border-radius: 0px !important; 
  }

  h2 {
    color: #000;
  }

  // Resolve width for general tablets
  @media only screen and (device-width: 768px) {

    .custom-width {
      width: 75% !important;
      margin-left: auto;
      margin-right: auto;;
    }
    
    .card {
      border-radius: 5px;
      border: 1px solid #e9e7e7;
    }
  }
  
  // Resolve width for Ipad Pro
  @media only screen 
  and (min-device-width : 1024px) 
  and (max-device-width : 1366px) { 
  
    .custom-width {
      width: 75% !important;
      margin-left: auto;
      margin-right: auto;;
    }

    .card {
      border-radius: 5px;
      border: 1px solid #e9e7e7;
    }
          
  }
  
}