<ion-header [class.opaque]="showToolbar" no-lines>
  <ion-navbar transparent>
    <ion-title>
      <ion-badge color="gray">{{ account_data?.username }}</ion-badge>
      <ion-badge color="light">{{ account_data?.reputation }}</ion-badge>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="onScroll($event)">

  <div class="card-profile">
    <div class="card-profile_visual" [ngStyle]="{'background-image': 'url(' + account_data?.json_metadata.profile.cover_image + ')'}"></div>
    <div class="card-profile_user-infos">
      <span class="info_picture">
        <img [src]="render_image()" class="picture" />
      </span>
      <span class="infos_name">
        <ion-badge tappable (tap)="presentProfileModal()">
          <ion-icon tappable (tap)="presentProfileModal()" name="ios-create"></ion-icon> {{ 'pages.profile.edit_profile' | translate }}</ion-badge>
      </span>
      <span class="infos_nick">
        <span class="joined-date">
          {{ 'pages.profile.joined' | translate }}: {{ account_data?.created | amTimeAgo }}
        </span> |
        <span class="joined-date">
          {{ 'pages.profile.account_value' | translate }}: $ {{ account_data?.estimated_balance}}
        </span>

        <!-- {{ account_data?.about }} -->
      </span>

    </div>

    <div class="card-profile_user-stats">
      <ion-segment [(ngModel)]="sections" mode="md" (ionChange)="segmentChanged()">
        <ion-segment-button icon-top value="blog">
          <ion-icon name="paper"></ion-icon>
          <div style="margin-top: -35px;">
            <p>{{ 'pages.profile.posts' | translate }}</p>
          </div>
        </ion-segment-button>
        <ion-segment-button icon-top value="activity">
          <ion-icon name="analytics"></ion-icon>
          <div style="margin-top: -35px;">
            <p>{{ 'pages.profile.activity' | translate }}</p>
          </div>
        </ion-segment-button>
        <ion-segment-button icon-top value="about">
          <ion-icon name="person"></ion-icon>
          <div style="margin-top: -35px;">
            <p>{{ 'pages.profile.info' | translate }}</p>
          </div>
        </ion-segment-button>
        <ion-segment-button icon-top value="wallet">
          <ion-icon name="card"></ion-icon>
          <div style="margin-top: -35px;">
            <p>{{ 'pages.profile.wallet' | translate }}</p>
          </div>
        </ion-segment-button>
      </ion-segment>

    </div>

    <div [ngSwitch]="sections" class="custom-width">
      <div *ngSwitchCase="'blog'">

        <ion-spinner *ngIf="is_loading"></ion-spinner>

        <div *ngIf="!is_loading">
          <div *ngFor="let content of contents; trackBy: trackById">
            <post-card [post]="content" [from]="'PROFILE'" [user]="username"></post-card>
          </div>
        </div>

        <no-data *ngIf="no_post == true" icon="chatbubbles" title="This user has not posts, YET!">
        </no-data>

        <div *ngIf="is_more_post == false">
          <p text-center>{{ 'generic_messages.not_more_posts' | translate }}</p>
        </div>

        <ion-infinite-scroll *ngIf="contents.length >= 1 && is_more_post == true" (ionInfinite)="doInfinite($event)" distance="1%">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
      <div *ngSwitchCase="'activity'">
        <ion-list class="activity">
          <div *ngFor="let activity of activities">
            <ion-card *ngIf="activity[1].op[0] === 'vote'">
              <ion-item>
                <ion-avatar item-start>
                  <img [src]="'https://steemitimages.com/u/'+activity[1].op[1].voter+'/avatar/small'" (error)="util.imgError('profile',$event)">
                </ion-avatar>
                <h2>@{{activity[1].op[1].voter}}
                  <span *ngIf="activity[1].op[1].weight > 0">Upvoted</span>
                  <span *ngIf="activity[1].op[1].weight < 0">Downvoted</span>
                  ({{ activity[1].op[1].weight/100 }}%)</h2>
                <p>{{ activity[1].op[1].permlink }}</p>
              </ion-item>
            </ion-card>

            <ion-card *ngIf="activity[1].op[0] === 'curation_reward'">
              <ion-item>
                <ion-avatar class="reward" item-start>
                  <ion-icon item-start name="trophy"></ion-icon>
                </ion-avatar>
                <h2> Curation Reward </h2>
                <p>{{ activity[1].op[1].reward }}</p>
              </ion-item>
            </ion-card>

            <ion-card *ngIf="activity[1].op[0] === 'claim_reward_balance'">
              <ion-item>
                <ion-avatar class="reward" item-start>
                  <ion-icon item-start name="trophy"></ion-icon>
                </ion-avatar>
                <h2> Claim Rewards</h2>
                <p *ngIf="activity[1].op[1].reward_sbd !== '0.000 SBD'">{{ activity[1].op[1].reward_sbd }}</p>
                <p *ngIf="activity[1].op[1].reward_steem !== '0.000 STEEM'">{{ activity[1].op[1].reward_steem }}</p>
                <p *ngIf="activity[1].op[1].reward_vests">{{ activity[1].op[1].reward_vests }}</p>
              </ion-item>
            </ion-card>

            <ion-card *ngIf="activity[1].op[0] === 'account_witness_vote'">
              <ion-item>
                <ion-avatar item-start>
                  <img [src]="'https://steemitimages.com/u/'+activity[1].op[1].account+'/avatar/small'" (error)="util.imgError('profile',$event)">
                </ion-avatar>
                <h2> @{{activity[1].op[1].account}}
                  <span *ngIf="activity[1].op[1].approve">approved witness</span>
                  <span *ngIf="!activity[1].op[1].approve">unapproved witness</span>
                </h2>
                <p>
                  @{{activity[1].op[1].witness}}
                </p>
              </ion-item>
            </ion-card>

            <ion-card *ngIf="activity[1].op[0] === 'comment'">
              <ion-item *ngIf="activity[1].op[0] === 'comment'">
                <ion-avatar item-start>
                  <img [src]="'https://steemitimages.com/u/'+activity[1].op[1].author+'/avatar/small'" (error)="util.imgError('profile',$event)">
                </ion-avatar>
                <h2> @{{activity[1].op[1].author}} replied to @{{activity[1].op[1].parent_author}} </h2>
                <p>
                  {{activity[1].op[1].permlink}}
                </p>
              </ion-item>
            </ion-card>

            <ion-card *ngIf="activity[1].op[1].title && activity[1].op[1].parent_author === ''">
              <ion-item>
                <ion-avatar item-start>
                  <img [src]="'https://steemitimages.com/u/'+activity[1].op[1].author+'/avatar/small'" (error)="util.imgError('profile',$event)">
                </ion-avatar>
                <h2> Authored a post </h2>
                <p>
                  {{activity[1].op[1].permlink}}
                </p>
              </ion-item>
            </ion-card>

            <ion-card *ngIf="activity[1].op[0] === 'feed_publish'">
              <ion-item>
                <ion-avatar item-start>
                  <img [src]="'https://steemitimages.com/u/'+activity[1].op[1].publisher+'/avatar/small'" (error)="util.imgError('profile',$event)">
                </ion-avatar>
                <h2> feed_publish</h2>
                <p>
                  {{activity[1].op[1].exchange_rate.base}}
                </p>
                <p>
                  {{activity[1].op[1].exchange_rate.quote}}
                </p>
              </ion-item>
            </ion-card>

            <ion-card *ngIf="activity[1].op[0] === 'producer_reward'">
              <ion-item>
                <ion-avatar item-start>
                  <img [src]="'https://steemitimages.com/u/'+activity[1].op[1].producer+'/avatar/small'" (error)="util.imgError('profile',$event)">
                </ion-avatar>
                <h2> producer_reward</h2>
                <p>
                  {{activity[1].op[1].vesting_shares}}
                </p>
              </ion-item>
            </ion-card>

            <ion-card *ngIf="activity[1].op[0] === 'account_update'">
              <ion-item>
                <ion-avatar item-start>
                  <img [src]="'https://steemitimages.com/u/'+activity[1].op[1].account+'/avatar/small'" (error)="util.imgError('profile',$event)">
                </ion-avatar>
                <h2> Account updated</h2>
              </ion-item>
            </ion-card>

            <ion-card *ngIf="activity[1].op[0] === 'comment_options'">
              <ion-item>
                <ion-avatar item-start>
                  <img [src]="'https://steemitimages.com/u/'+activity[1].op[1].author+'/avatar/small'" (error)="util.imgError('profile',$event)">
                </ion-avatar>
                <h2> comment_options</h2>
                <p>
                  {{activity[1].op[1].permlink}}
                </p>
              </ion-item>
            </ion-card>

            <ion-card *ngIf="activity[1].op[1].id === 'follow'">
              <ion-item>
                <ion-avatar item-start>
                  <img [src]="'https://steemitimages.com/u/'+activity.json[1].following+'/avatar/small'" (error)="util.imgError('profile',$event)">
                </ion-avatar>
                <h2 *ngIf="activity.json[1].what[0]">Followed @{{ activity.json[1].following }}</h2>
                <h2 *ngIf="!activity.json[1].what[0]">Unfollowed @{{ activity.json[1].following }}</h2>
              </ion-item>
            </ion-card>
            <ion-card *ngIf="activity[1].op[0] === 'transfer'">
              <ion-item>
                <ion-avatar item-start>
                  <img *ngIf="activity[1].op[1].from != username" src="https://steemitimages.com/u/{{ activity[1].op[1].from }}/avatar/small"
                    (error)="util.imgError('profile',$event)">
                  <img *ngIf="activity[1].op[1].from === username" src="https://steemitimages.com/u/{{ activity[1].op[1].to }}/avatar/small"
                    (error)="util.imgError('profile',$event)">
                </ion-avatar>
                <h2 *ngIf="activity[1].op[1].from != username" class="incoming">+ {{ activity[1].op[1].amount }}</h2>
                <h2 *ngIf="activity[1].op[1].from === username" class="outgoing">- {{ activity[1].op[1].amount }}</h2>
                <p *ngIf="activity[1].op[1].from != username"> @{{ activity[1].op[1].from }} </p>
                <p *ngIf="activity[1].op[1].from === username"> @{{ activity[1].op[1].to }} </p>
              </ion-item>
              <div>
                <p padding>
                  <strong>Memo:</strong> {{ activity[1].op[1].memo }}
                </p>
              </div>
            </ion-card>
          </div>
          <ion-infinite-scroll (ionInfinite)="dispatchMoreAccountHistory($event)" distance="1%">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-list>
      </div>
      <div *ngSwitchCase="'about'">
        <ion-list no-lines>
          <ion-item no-lines tappable (click)="open_followers();">
            <ion-icon name="people" item-start></ion-icon>
            {{ 'pages.profile.followers' | translate }}
            <ion-badge color="light" item-end>{{ stats?.followers_count }}</ion-badge>
          </ion-item>
          <ion-item no-lines tappable (click)="open_following();">
            <ion-icon name="person-add" item-start></ion-icon>
            {{ 'pages.profile.following' | translate }}
            <ion-badge color="light" item-end>{{ stats?.following_count }}</ion-badge>
          </ion-item>
          <ion-item no-lines>
            <ion-icon name="paper" item-start></ion-icon>
            {{ 'pages.profile.posts' | translate }}
            <ion-badge color="light" item-end>{{ account_data?.post_count }}</ion-badge>
          </ion-item>
          <ion-item no-lines *ngIf='account_data?.location'>
            <ion-icon name="pin" item-start></ion-icon>
            {{ 'pages.profile.location' | translate }}
            <ion-badge color="light" item-end>{{ account_data?.location }}</ion-badge>
          </ion-item>
          <ion-item no-lines *ngIf='account_data?.website' (click)="sharedService.openBrowser(account_data?.website)">
            <ion-icon name="globe" item-start></ion-icon>
            {{ 'pages.profile.website' | translate }}
            <ion-badge color="light" item-end>{{ account_data?.website }}</ion-badge>
          </ion-item>
          <ion-item *ngIf='account_data?.json_metadata?.profile.facebook'>
            <ion-icon name="logo-facebook" item-start></ion-icon>
            Facebook
            <ion-badge color="light" item-end> @{{ account_data?.json_metadata?.profile.facebook }} </ion-badge>
          </ion-item>
          <ion-item *ngIf='account_data?.json_metadata?.profile.github'>
            <ion-icon name="logo-github" item-start></ion-icon>
            Github
            <ion-badge color="light" item-end> @{{ account_data?.json_metadata?.profile.github }} </ion-badge>
          </ion-item>
          <ion-item *ngIf='account_data?.json_metadata?.profile.twitter'>
            <ion-icon name="logo-twitter" item-start></ion-icon>
            Twitter
            <ion-badge color="light" item-end> @{{ account_data?.json_metadata?.profile.twitter }} </ion-badge>
          </ion-item>
          <ion-item *ngIf='account_data?.json_metadata?.profile.instagram'>
            <ion-icon name="logo-instagram" item-start></ion-icon>
            Instagram
            <ion-badge color="light" item-end> @{{ account_data?.json_metadata?.profile.instagram }} </ion-badge>
          </ion-item>
          <ion-item *ngIf='account_data?.json_metadata?.profile.youtube'>
            <ion-icon name="logo-youtube" item-start></ion-icon>
            Youtube
            <ion-badge color="light" item-end> @{{ account_data?.json_metadata?.profile.youtube }} </ion-badge>
          </ion-item>
        </ion-list>
      </div>
      <div *ngSwitchCase="'wallet'">
        <ion-list no-lines>
          <ion-item no-lines>
            <ion-avatar item-start>
              <img src="assets/steem.png">
            </ion-avatar>
            <h2>STEEM</h2>
            <p>{{ account_data?.balance }}</p>
          </ion-item>
          <ion-item no-lines>
            <ion-avatar item-start>
              <img src="assets/steem.png">
            </ion-avatar>
            <h2>SBD</h2>
            <p>{{ account_data?.sbd_balance }}</p>
          </ion-item>
          <ion-item no-lines>
            <ion-avatar item-start>
              <img src="assets/steem.png">
            </ion-avatar>
            <h2>STEEM POWER</h2>
            <p>{{ voting_power }} SP
              <span *ngIf='account_data?.exact_delegation != 0'>({{ account_data?.exact_delegation }} Delegated SP)</span>
            </p>
          </ion-item>
          <ion-item no-lines>
            <ion-avatar item-start>
              <img src="assets/steem.png">
            </ion-avatar>
            <h2>Saving Balance</h2>
            <p>{{ account_data?.savings_balance }}</p>
            <p>{{ account_data?.savings_sbd_balance }}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>