<ion-header id="header">

  <ion-navbar color="primary">
    <ion-title>{{ 'pages.bookmarks.page_title' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="bookmarks">
  <ion-list *ngIf="bookmarks?.length > 0" no-lines>
    
    <ion-item-sliding *ngFor="let bookmark of bookmarks" no-lines>
      <ion-item (click)="openPost(bookmark)" no-lines>
        <ion-thumbnail item-start>
          <img [src]="bookmark.body" (error)="util.imgError('post', $event)">
        </ion-thumbnail>
        <h2> {{ bookmark.title }} </h2>
        <p> @{{ bookmark.author }} </p>
      </ion-item>
      <ion-item-options side="right" no-lines>
        <button ion-button color="danger" (click)="removeBookmark(bookmark)">
          <ion-icon name="trash"></ion-icon>
          {{ 'pages.bookmarks.remove' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="bookmarks?.length == 0">
    <ion-card>
      <ion-card-header>
          <img src="assets/welcome/3.png" />
      </ion-card-header>
      <ion-card-content>
        
        <p text-center>{{ 'pages.bookmarks.no_bookmarks' | translate }}</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
