skeleton-loading {

    @keyframes placeHolderShimmer{
        0%{
            background-position: -468px 0
        }
        100%{
            background-position: 468px 0
        }
    }

    .principal-animation {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 800px 104px;
    }
    
    .profile-placeholder {
        min-width: 36px;
        min-height: 36px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .image-placeholder {
        height: 180px;
        position: relative;
    }

    .text-placeholder {
        margin-top: 10px;
        height: 10px;
        width: calc(100% - 33px);
        margin-left: 18px;
        margin-bottom: 10px;
        position: relative;
    }

    .author-placeholder {
        height: 5px;
        margin-bottom: 2px;
        position: relative;
    }

    .category-placeholder {
        height: 5px;
        position: relative;
    }

    .bottom-placeholder {
        margin-top: 8px;
        height: 7px;
        margin: 8px;
        position: relative;
    }

}
