<ion-header>
  <ion-navbar color="primary">
    <ion-title>Wallet</ion-title>
    <ion-buttons end item-end>
      <button class="ion-button" ion-button icon-only (click)="addAddress()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="rewards?.sbd > 0 || rewards?.vesting_steem > 0 || rewards?.steem > 0">
    <ion-item>
      <p style="font-size: 14px;" text-center>
        Your current rewards: {{ rewards?.sbd }} SBD, {{ rewards?.vesting_steem_balance }} SP, {{ rewards?.steem }} STEEM
      </p>
    </ion-item>
    <ion-row>
      <ion-col>
        <button mode="ios" block round color="light" icon-left ion-button small (click)="claim_rewards()">
          <ion-icon name="ribbon"></ion-icon>
          Claim Rewards
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-list>
    <!-- STEEM WALLET -->
    <wallet-item name="STEEM" [price]="prices?.steem" [balance]="account_balance?.balance" icon="cc-steem" native="true" coinAb="STEEM"
      (tapEvent)="eventListener($event)"></wallet-item>

    <!-- SBD WALLET -->
    <wallet-item name="SBD" [price]="prices?.sbd" [balance]="account_balance?.sbd" icon="cc-steem" native="true" coinAb="SBD"
      (tapEvent)="eventListener($event)"></wallet-item>

    <!-- EXTERNAL WALLETS -->

    <!-- BTC WALLET -->
    <wallet-item name="BTC" *ngIf="address?.btc.address != null" [price]="prices?.btc" [balance]="address?.btc.confirmed" icon="cc-btc"
      native="false" coinAb="BTC" (tapEvent)="eventListener($event)"></wallet-item>

    <!-- ETH WALLET -->
    <wallet-item name="ETH" *ngIf="address?.eth.address != null" [price]="prices?.eth" [balance]="address?.eth.confirmed" icon="cc-eth"
      native="false" coinAb="ETH" (tapEvent)="eventListener($event)"></wallet-item>
    
    <!-- ETH WALLET -->
    <wallet-item name="LTC" *ngIf="address?.ltc.address != null" [price]="prices?.ltc" [balance]="address?.ltc.confirmed" icon="cc-ltc"
      native="false" coinAb="LTC" (tapEvent)="eventListener($event)"></wallet-item>

  </ion-list>

</ion-content>