page-feed {

  // Resolve width for general tablets
  @media only screen and (device-width: 768px) {
    .scroll-content {
      width: 89% !important;
      margin-left: auto;
      margin-right: auto;;
    }
  }

  // Resolve width for Ipad Pro
  @media only screen 
  and (min-device-width : 1024px) 
  and (max-device-width : 1366px) { 

    .scroll-content {
      width: 75% !important;
      margin-left: auto;
      margin-right: auto;;
    }
  }
  
  .reblog {
    margin-left: 5px !important;
    color: #c5c5c5;
  }
  .noborder {
    border: none !important;
  }

  .blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: -webkit-filter 200ms linear;
}
  

}
